@font-face {
    font-family: 'HvDTrial Brandon Grotesque Thin';
    src: url('./assets/fonts/HvDTrial_Brandon_Grotesque_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HvDTrial Brandon Grotesque Thin Italic';
    src: url('./assets/fonts/HvDTrial_Brandon_Grotesque_thin_italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HvDTrial Brandon Grotesque Reg';
    src: url('./assets/fonts/HvDTrial_Brandon_Grotesque_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}

body{
    font-family: 'HvDTrial Brandon Grotesque Thin';
    font-weight: 100;
}

@keyframes slowBlink {
    0% {
      opacity: .7;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: .7;
    }
  }
  
  .slow-blink {
    animation: slowBlink 2s infinite;
  }

  .loaded{
    opacity: 0;
    display: none;
  }