html{
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
    overflow-x: hidden;
    width: 100%;
}

body{
  font-family: 'Montserrat Variable';
  overflow-x: hidden;
  width: 100%;
}


@keyframes slowBlink {
    0% {
      opacity: .7;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: .7;
    }
  }
  
  .slow-blink {
    animation: slowBlink 2s infinite;
  }

  .loaded{
    opacity: 0;
    display: none;
  }